
/* custom classes  */
.container {
  /* width: 100%; */
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;

  margin-right: 25px;
  margin-left: 25px;
  margin-top: auto;
}

.doa-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}